@page "/charts-features"
@using Syncfusion.Blazor.Charts
<h2>Charts</h2>
<br />

<div class="grid-container">
    <div>
        <SfChart Theme="Theme.Material">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">  </ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@Sales" XName="Month" YName="SalesValue" Size="Size" Type="ChartSeriesType.Bubble" Fill="crimson" Opacity="0.7">
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>
    </div>
    <div>
        <SfChart Theme="Theme.MaterialDark">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">  </ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@Sales" XName="Month" YName="SalesValue" Size="Size" Type="ChartSeriesType.Bubble" Fill="yellow" Opacity="0.7">
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>
    </div>
    <div>
        <SfChart Theme="Theme.MaterialDark">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">  </ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@Sales" XName="Month" YName="SalesValue" Size="Size" Type="ChartSeriesType.Bubble" Fill="green" Opacity="0.7">
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>
    </div>
    <div>
        <SfChart Theme="Theme.Material">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">  </ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@Sales" XName="Month" YName="SalesValue" Size="Size" Type="ChartSeriesType.Bubble" Fill="magenta" Opacity="0.7">
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>
    </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }

   /* .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }

    .list {
        float: left;
        line-height: 20px;
        margin: 10px;
        min-width: 200px;
    }*/
</style>

@code {
    public class SalesInfo
    {
        public double Month { get; set; }
        public double SalesValue { get; set; }
        public double Size { get; set; }
    }
    public List<SalesInfo> Sales = new List<SalesInfo>
      {
        new SalesInfo { Month = 1, SalesValue = 35, Size = 2 },
        new SalesInfo { Month = 2, SalesValue = 28, Size = 1 },
        new SalesInfo { Month = 3, SalesValue = 34, Size = 3 },
        new SalesInfo { Month = 4, SalesValue = 32, Size = 2 },
        new SalesInfo { Month = 5, SalesValue = 40, Size = 5 },
        new SalesInfo { Month = 6, SalesValue = 32, Size = 2 },
        new SalesInfo { Month = 7, SalesValue = 35, Size = 2 }
    };
}
